.CodeExample button {
  border: none;
  border-radius: 15px;
  padding: 15px;
  margin-right: 20px;
  color: #36454f;
}
.CodeExample button:hover {
  background-color: #957dad;
}
.CodeExample button:focus {
  background-color: #957dad;
}
.CodeExample button:active {
  background-color: #957dad;
}
.Active {
  background-color: #957dad;
  color: #fff;
}
