.Concepts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 17vw;
  box-shadow: 1px 1px 1px #957dad;
}
.Concepts img {
  width: 100px;
  align-self: center;
}
.Concepts img + p {
  margin: 0;
  text-transform: uppercase;
}
.Concepts:hover {
  box-shadow: 1px 1px 1px pink;
  position: relative;
  top: 5px;
}
